

#two li .icon span{-webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    display: inline-block;}
.image.fit img {
    border: 1px solid #e3e3e3;
    border-radius: 0px;
}

@media screen and (max-width: 1000px) {
    .major-icons img {
        height: 60px;
    }
}