<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,width=device-width">
    <meta name="description" content="사실 별볼일 없는 이력서입니다."/>
    <meta property="og:url" content="https://uiandwe.github.com"/>
    <meta property="og:site_name" content="박력터진 이력서"/>
    <meta property="og:title" content="박력터진 이력서"/>
    <meta property="og:description" content="사실 별볼일 없는 이력서입니다."/>
    <meta property="og:image" content="https://avatars2.githubusercontent.com/u/3336344?s=460&v=4"/>
    <meta property="og:type" content="website"/>

    <title>박력터진 이력서</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js"
            integrity="sha384-3ziFidFTgxJXHMDttyPJKDuTlmxJlwbSkojudK/CkRqKDOmeSbN6KLrGdrBQnT2n"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</head>
<body>
<div class="container resume">
    <!-- Profile Start -->
    <div class="row mt-5">
        <div class="col-md-3 col-sm-12 pb-3 text-md-right text-center">
            <img class="img-fluid rounded profile-img" src="https://avatars2.githubusercontent.com/u/3336344?s=460&v=4"
                 alt="Profile">
        </div>
        <div class="col-md-9 col-sm-12">
            <div class="row">
                <div class="col text-center text-md-left">
                    <h1 class="blue">현 승 재</h1>
                </div>
            </div>
            <div class="row">
                <div class="col pt-3">
                    <div class="row pb-2">
                        <div class="col-1 text-right">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </div>
                        <div class="col-auto">
                            <a href="mailto:uiandwe@gmail.com" target="_blank">uiandwe@gmail.com</a>
                        </div>
                    </div>
                    <!--<div class="row pb-2">-->
                    <!--<div class="col-1 text-right">-->
                    <!--<i class="fa fa-phone" aria-hidden="true"></i>-->
                    <!--</div>-->
                    <!--<div class="col-auto">-->
                    <!--<span class="badge badge-light">Please contact me by email</span>-->
                    <!--</div>-->
                    <!--</div>-->
                    <div class="row pb-2">
                        <div class="col-1 text-right">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </div>
                        <div class="col-auto">
                            <a href="https://github.com/uiandwe" target="_blank">https://github.com/uiandwe</a>
                        </div>
                    </div>
                    <div class="row pb-2">
                        <div class="col-1 text-right">
                            <i class="fa fa-address-card"></i>
                        </div>
                        <div class="col-auto">
                            <a href="https://uiandwe.github.io" target="_blank">https://uiandwe.github.io</a>
                        </div>
                    </div>
                    <div class="row pb-4">
                        <div class="col-1 text-right">
                            <i class="fa fa-rss" aria-hidden="true"></i>
                        </div>
                        <div class="col-auto">
                            <a href="https://uiandwe.tistory.com" target="_blank">https://uiandwe.tistory.com</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Profile End -->

    <!-- Introduce Start -->
    <div class="row pt-5">
        <div class="col-12 col-md-3">
            <h2 class="blue">INTRODUCE</h2>
        </div>
        <div class="col-12 col-md-9">
            <p>대용량 트래픽을 견뎌낼 수 있는 견고한 어플리케이션 개발을 위해, 사용하려는 언어적 특성 파악과 효율적인 시스템 아키텍처를 설계하는 방법론에 대해 끊임없이 고찰하고 있으며, 특히
                웹서비스에서 가장 큰 병목 지점이 될 수 있는 데이터베이스의 효율성을 극대화하기 위하여 다양한 기술적 시도를 통해 실무에 적용함으로써 성능향상을 이끌어내고 있습니다. 또한 비슷한 문제를
                맞닥뜨리게 될 기술적 상황들을 블로그에 투고함으로써 개발자 생태계 기여에 노력하고 있습니다.</p>
            <p>오픈소스 프로젝트에 관심이 많고, 다양한 방법으로 기여에 노력하고 있습니다. 이외에도 개인 프로젝트나 개발 커뮤니티 활동 등을 통해 다양한 개발경험을 즐기고 있습니다. 평소 개발 경험을
                공유하거나 기록하는 것을 좋아하여 학부생 시절부터 시작한 개발 블로그에 기술 포스트를 작성했습니다. 앞으로도 재미있고 더욱 필요한 서비스들을 계속해서 만들어 나가며 다양한 기술을
                학습하거나 사용, 문제 해결을 통해 개발자로서 발전하기 위해 노력하고 있습니다.</p>
        </div>
    </div>
    <!-- Introduce End -->

    <!-- Skills Start -->
    <div class="row pt-5">
        <div class="col">
            <div class="row pb-3">
                <div class="col">
                    <h2>
                <span class="blue">
                  SKILLS
                </span>
                        <!--                 <small data-toggle="tooltip" title="1: 기초 수준, 2: 취미 개발 수준, 3: Production 개발 가능 수준, 4: Production 개발 리드 수준, 5: 전문가 수준">
                                          <i class="fa fa-question-circle" aria-hidden="true"></i>
                                        </small> -->
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-3 text-md-right">
                    <h4 class="gray">Back-end</h4>
                </div>
                <div class="col-12 col-md-9">
                    <div class="row">
                        <div class="col">
                            <ul>
                                <li>
                                    <!--                       <span class="badge badge-pill badge-primary">4</span> -->
                                    Python
                                </li>
                                <li>
                                    <!--                       <span class="badge badge-pill badge-secondary">3</span> -->
                                    Node.js
                                </li>
                                <li>
                                    <!--                       <span class="badge badge-pill badge-light">2</span> -->
                                    nginx
                                </li>
                            </ul>
                        </div>
                        <div class="col">
                            <ul>
                                <li>
                                    <!--                         <span class="badge badge-pill badge-primary">4</span> -->
                                    django
                                </li>
                                <li>
                                    <!--                       <span class="badge badge-pill badge-secondary">3</span> -->
                                    Express.js
                                </li>
                            </ul>
                        </div>
                        <div class="col">
                            <ul>
                                <li>
                                    <!--                       <span class="badge badge-pill badge-light">2</span> -->
                                    Flask
                                </li>
                                <li>
                                    <!--                         <span class="badge badge-pill badge-secondary">3</span> -->
                                    Koa
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>

            <div class="row">
                <div class="col-12 col-md-3 text-md-right">
                    <h4 class="gray">Database</h4>
                </div>
                <div class="col-12 col-md-9">
                    <div class="row">
                        <div class="col">
                            <ul>
                                <li>
                                    <!--                       <span class="badge badge-pill badge-primary">4</span> -->
                                    MySQL / MariaDB
                                </li>
                            </ul>
                        </div>
                        <div class="col">
                            <ul>
                                <li>
                                    <!--                         <span class="badge badge-pill badge-primary">4</span> -->
                                    PostgreSql
                                </li>
                            </ul>
                        </div>
                        <div class="col">
                            <ul>
                                <li>
                                    <!--                       <span class="badge badge-pill badge-secondary">3</span> -->
                                    MongoDB
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>

            <div class="row">
                <div class="col-12 col-md-3 text-md-right">
                    <h4 class="gray">Front-end</h4>
                </div>
                <div class="col-12 col-md-9">
                    <div class="row">
                        <div class="col">
                            <ul>
                                <li>
                                    <!--                       <span class="badge badge-pill badge-secondary">3</span> -->
                                    Angular.js
                                </li>
                            </ul>
                        </div>
                        <div class="col">
                            <ul>
                                <li>
                                    <!--                       <span class="badge badge-pill badge-secondary">3</span> -->
                                    Vue.js
                                </li>
                            </ul>
                        </div>
                        <div class="col">
                            <ul>
                                <li>
                                    <!--                       <span class="badge badge-pill badge-secondary">3</span> -->
                                    scss
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>

            <div class="row">
                <div class="col-12 col-md-3 text-md-right">
                    <h4 class="gray">Etc</h4>
                </div>
                <div class="col-12 col-md-9">
                    <div class="row">
                        <div class="col">
                            <ul>
                                <li>CI/CD</li>
                                <li>Git / Github</li>
                                <li>Refactoring</li>
                            </ul>
                        </div>
                        <div class="col">
                            <ul>
                                <li>JIRA / trello</li>
                                <li>Agile / Sprint / Scrum</li>
                            </ul>
                        </div>
                        <div class="col">
                            <ul>
                                <li>Information Security</li>
                                <li>Math+Graph+2D/3D</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Skills End -->


    <!-- Experience Start -->
    <div class="row pt-5">
        <div class="col">
            <div class="row pb-3">
                <div class="col">
                    <h2 class="blue">EXPERIENCE</h2>
                </div>
            </div>

            <div class="row">
                <div class="col">

                    <div class="row">
                        <div class="col-md-3 col-12 text-md-right">
                            <div class="row">
                                <div class="col-md-12 col">
                                    <h4 class="gray">2019. 03 ~         <br/></h4>
                                </div>
                                <div class="col-md-12 col-3 text-center text-md-right">
                                    <span class="badge badge-primary">재직 중</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9 col-12">
                            <h4>해줌 (haezoom)</h4>
                            <i class="gray">데이터 관리팀 백엔드 개발자</i>
                            <ul class="pt-3">
                                <li>태양광 생산성 예측 및 태양광 예측 지도 제공</li>
                                <li>백엔드, 인프라 / API 설계 및 데이터 파이프라인 등</li>
                                <li><strong>Skill Keywords</strong></li>
                                <div>
                                    <span class="badge badge-secondary">Python</span>
                                    <span class="badge badge-secondary">Django framwork</span>
                                    <span class="badge badge-secondary">Vue.js</span>
                                    <span class="badge badge-secondary">PostgreSQL</span>
                                    <span class="badge badge-secondary">Amazon Web Service</span>
                                    <span class="badge badge-secondary">HTTP API</span>
                                    <span class="badge badge-secondary">Infrastructure Architecture</span>
                                    <span class="badge badge-secondary">CI/CD (docker/jenkins)</span>
                                    <span class="badge badge-secondary">airflow</span>
                                    <span class="badge badge-secondary">fluentd</span>
                                    <span class="badge badge-secondary">zeppelin</span>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <hr/>

                    <div class="row">
                        <div class="col-md-3 col-12 text-md-right">
                            <div class="row">
                                <div class="col-md-12 col">
                                    <h4 class="gray">2016. 10 ~ 2018. 09<br/></h4>
                                </div>
                                <div class="col-md-12 col-3 text-center text-md-right">
                                    <span class="badge badge-info">2년</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9 col-12">
                            <h4>슬로그업 (Slogup)</h4>
                            <i class="gray">개발팀 백엔드 개발자</i>
                            <ul class="pt-3">
                                <li>O2O 에어콘 설치 스타트업 <small>(15~20명, 개발팀 6~10명)</small></li>
                                <li>커머스, 물류 백엔드, 인프라 개발 등</li>
                                <li>Development Project Management</li>
                                <li><strong>Skill Keywords</strong></li>
                                <div>
                                    <span class="badge badge-secondary">Node.js</span>
                                    <span class="badge badge-secondary">express</span>
                                    <span class="badge badge-secondary">Angularjs</span>
                                    <span class="badge badge-secondary">MySQL/MariaDB</span>
                                    <span class="badge badge-secondary">Amazon Web Serivce</span>
                                    <span class="badge badge-secondary">MongoDB</span>
                                    <span class="badge badge-secondary">Socket.io</span>
                                    <span class="badge badge-secondary">nginx</span>
                                    <span class="badge badge-secondary">API Design</span>
                                    <span class="badge badge-secondary">Database Design</span>
                                    <span class="badge badge-secondary">Infrastructure Architecture</span>
                                    <span class="badge badge-secondary">API Design</span>
                                    <span class="badge badge-secondary">Domain Driven Design</span>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <hr/>

                    <div class="row">
                        <div class="col-md-3 col-12 text-md-right">
                            <div class="row">
                                <div class="col-md-12 col">
                                    <h4 class="gray">2014. 07 ~ 2016. 03<br/></h4>
                                </div>
                                <div class="col-md-12 col-3 text-center text-md-right">
                                    <span class="badge badge-info">1년 9개월</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9 col-12">
                            <h4>씸플 (cimple)</h4>
                            <i class="gray">소프트웨어 개발팀 서버 개발자</i>
                            <ul class="pt-3">
                                <li>블로그 서비스 스타트업 <small>(10~15명, 개발팀 6명)</small></li>
                                <li>백엔드 개발</li>
                                <li>인프라 엔지니어링과 보안 담당</li>
                                <li>AWS, Agile 등 연구 / 도입</li>
                                <li>Development Project Management</li>
                                <li><strong>Skill Keywords</strong></li>
                                <div>
                                    <span class="badge badge-secondary">PHP</span>
                                    <span class="badge badge-secondary">phalcon frameWork</span>
                                    <span class="badge badge-secondary">Python</span>
                                    <span class="badge badge-secondary">Django framwork</span>
                                    <span class="badge badge-secondary">AWS</span>
                                    <span class="badge badge-secondary">MySQL/MariaDB</span>
                                    <span class="badge badge-secondary">MVC</span>
                                    <span class="badge badge-secondary">Security Infomation</span>
                                    <span class="badge badge-secondary">Server Engineering</span>
                                    <span class="badge badge-secondary">Databsae Design</span>
                                    <span class="badge badge-secondary">Infrastructure Architecture</span>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <hr/>

                </div>
            </div>
        </div>
    </div>
    <!-- Experience End -->

    <!-- Project Start -->
    <div class="row pt-5">
        <div class="col">
            <div class="row pb-3">
                <div class="col">
                    <h2 class="blue">PROJECTS</h2>
                </div>
            </div>

            <div class="row">
                <div class="col">

                    <div class="row">
                        <div class="col-md-3 col-12 text-md-right">
                            <h4 class="gray">2019. 03 ~ </h4>
                        </div>
                        <div class="col-md-9 col-12">
                            <h4>발전량 예측 백엔드 개발</h4>
                            <ul class="pt-3">
                                <li>
                                    <strong>API Server</strong>
                                    <ul>
                                        <li><a href="https://haezoom.io/api/">홈페이지</a></li>
                                        <li>날씨 예측 알고리즘을 통한 태양광 발전량 예측 알고리즘 연동</li>
                                        <li>python django / postgresSQL를 사용하여 개발</li>
                                        <li>django_rest_framework를 이용한 HTTP API 구현</li>
                                        <li>OpenAPI 2.0규격에 맞는 swagger API 문서 작성</li>
                                    </ul>
                                </li>
                                <li>
                                    <strong>preprocess</strong>
                                    <ul>
                                        <li>CI/CD 구축 및 통합 테스트/배포 자동화</li>
                                        <li>Global Forecast System (GFS) / ldaps 등 기상 데이터 추출 / 가공 전처리</li>
                                        <li>실시간 날씨 예측을 위한 천리안2 데이터 파이프 라인 구축</li>
                                        <li>이상 감지를 통한 데이터 오류 관리</li>
                                        <li>하루 250GB의 기상 데이터 처리 및 보관</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <hr/>

                    <div class="row">
                        <div class="col-md-3 col-12 text-md-right">
                            <h4 class="gray">2017. 12 ~ 2018. 09</h4>
                        </div>
                        <div class="col-md-9 col-12">
                            <h4>쓱싹 백엔드/프론트엔드 개발</h4>
                            <ul class="pt-3">
                                <li>
                                    <strong>API Server / View Page</strong>
                                    <ul>
                                        <li><a href="https://sgsg.slogup.com/">홈페이지</a></li>
                                        <li>에어컨 / 보일러 / 도어락 / 벽걸이 TV 설치 온라인 견적 O2O 서비스 개발</li>
                                        <li>어드민 화면 및 통계 화면, 설치 신청 및 제품 구매 페이지</li>
                                        <li>마이크로 서비스로의 개선 및 api 추가 개발</li>
                                        <li>세틀뱅크(PG)결제 연동 및 기사 신청 하이브리드 앱 등의 프론트엔드</li>
                                        <li>반응형 웹사이트 최적화</li>
                                    </ul>
                                </li>
                                <li>
                                    <strong>Blog SQS Server</strong>
                                    <ul>
                                        <li>네이버/티스토리 블로그 API연동 및 전송 로직 서버 클러스터링의 백엔드 개발</li>
                                        <li>Node.js와 Socket.io, Express.js를 사용하여 개발</li>
                                        <li>MongoDB를 이용한 텍스트 기반 데이터 활용</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <hr/>

                    <div class="row">
                        <div class="col-md-3 col-12 text-md-right">
                            <h4 class="gray">2018. 01 ~ 2018. 04</h4>
                        </div>
                        <div class="col-md-9 col-12">
                            <h4>Femtofab</h4>
                            <ul class="pt-3">
                                <li>환자의 혈액 데이터를 통한 질병 통계 예측 서비스</li>
                                <li>node.js + mysql / angularjs를 사용하여 개발</li>
                                <li>점도 계산 통계식 구축 / 최적화 계산을 위한 경사하강법 구현</li>
                                <li>계산식 최적화를 위한 클러스터링 연산 구축</li>
                                <li>클라이언트단과 제공되는 엑셀/CSV/그래프 등의 다양한 화면 구성</li>
                            </ul>
                        </div>
                    </div>
                    <hr/>

                    <div class="row">
                        <div class="col-md-3 col-12 text-md-right">
                            <h4 class="gray">2017. 04 ~ 2017. 10</h4>
                        </div>
                        <div class="col-md-9 col-12">
                            <h4>PONGIFT 프로젝트</h4>
                            <ul class="pt-3">
                                <li>
                                    <a href="https://play.google.com/store/apps/details?id=com.platfos.pongift&hl=ko&gl=US">홈페이지</a>
                                </li>
                                <li>모바일 기프트 쿠폰 플랫폼 개발</li>
                                <li>node.js + mysql / angularjs를 사용하여 개발</li>
                                <li>네이버 스토어팜 / 옥션 상품 판매 연동</li>
                                <li>상품 및 MMS 이미지 실시간 생성 및 가공</li>
                                <li>MMS 발송 서드파티 추가 및 기타 화면 및 성능 개선</li>
                                <li>플랫디자인을 통한 세련된 레이아웃 디자인 개발</li>
                            </ul>
                        </div>
                    </div>
                    <hr/>

                    <div class="row">
                        <div class="col-md-3 col-12 text-md-right">
                            <h4 class="gray">2016. 12 ~ 2017. 03</h4>
                        </div>
                        <div class="col-md-9 col-12">
                            <h4>IMS ANALYTICS</h4>
                            <ul class="pt-3">
                                <li>대량발송 홍보 메시지 데이터 분석 솔루션</li>
                                <li>node.js + mysql / angularjs를 사용하여 개발</li>
                                <li>문자 발송 시스템 연동 및 통계 시스템 구축</li>
                                <li>클라이언트 반응형 및 통계 데이터 그래프 표현</li>
                                <li>발송 및 통계 데이터 화면 반응형으로 제작</li>
                            </ul>
                        </div>
                    </div>
                    <hr/>

                    <div class="row">
                        <div class="col-md-3 col-12 text-md-right">
                            <h4 class="gray">2015. 12 ~ 2016. 03</h4>
                        </div>
                        <div class="col-md-9 col-12">
                            <h4>POSTYPE</h4>
                            <ul class="pt-3">
                                <li><a href="https://www.postype.com/">홈페이지</a></li>
                                <li>창작가들이 자신의 작품으로 수익 활동을 할 수 있는 1인 미디어 플랫폼 구축</li>
                                <li>php + phalcon + mariadb를 사용하여 개발</li>
                                <li>서비스의 앱api 및 알림 서비스 개발</li>
                                <li>추천 시스템(User based CF) 구축 및 개발 / 디비쿼리 튜닝 및 정규화 시행</li>
                            </ul>
                        </div>
                    </div>
                    <hr/>

                    <div class="row">
                        <div class="col-md-3 col-12 text-md-right">
                            <h4 class="gray">2014. 10 ~ 2014. 12</h4>
                        </div>
                        <div class="col-md-9 col-12">
                            <h4>트래블링 아울</h4>
                            <ul class="pt-3">
                                <li>외국인을 위한 한국 관광 서비스 플랫폼(외국인을 위한 마이리얼트립)</li>
                                <li>python + django + mysql를 사용하여 개발</li>
                                <li>각각의 사진 이미지들은 사용자 화면 사이즈에 최적화 되도록 이미지 자동 조정 스크립트를 작성</li>
                                <li>결제시스템(paypal) 연동 및 googlemap api를 이용한 지도 서비스 구현</li>
                                <li>플랫디자인을 통한 세련된 레이아웃 디자인 개발</li>
                            </ul>
                        </div>
                    </div>
                    <hr/>

                    <div class="row">
                        <div class="col-md-3 col-12 text-md-right">
                            <h4 class="gray">2015. 07 ~ 2015. 09</h4>
                        </div>
                        <div class="col-md-9 col-12">
                            <h4>인블룸</h4>
                            <ul class="pt-3">
                                <li>사용자 패턴의 2d를 생성하게 되면 해당하는 패턴을 통해 3d프린터를 통해 해당 결과물을 만들어내는 서비스</li>
                                <li>Wordpress, PHP, MySQL 등을 사용하여 서비스 개발</li>
                                <li>커스터마이징 심볼 주얼리 브랜드 플랫폼 서비스 구현</li>
                                <li>2d / 3d에 제작 이해 및 물리엔진 적용</li>
                            </ul>
                        </div>
                    </div>
                    <hr/>


                    <div class="row">
                        <div class="col-md-3 col-12 text-md-right">
                            <h4 class="gray">2014. 08 ~ 2014. 10</h4>
                        </div>
                        <div class="col-md-9 col-12">
                            <h4>그라모</h4>
                            <ul class="pt-3">
                                <li>리워드앱(포인트 적립을 통한 쿠폰 사용)</li>
                                <li>python + django + mysql를 사용하여 개발</li>
                                <li>국내외 광고 연동(trialpay / adpopcorn / tnk / fyber / linkprice) 콜백 구현</li>
                                <li>국내 쿠폰 발급(inumber) 연동</li>
                                <li>자체 광고 서비스 구현및 콜배 구현(타 브라우저에서 콜백을 통한 적립가능)</li>
                                <li>c3.js 커스텀을 통한 광고 수익 그래프 화면 개발</li>
                                <li>플랫디자인을 통한 세련된 레이아웃 디자인 개발</li>
                            </ul>
                        </div>
                    </div>
                    <hr/>

                    <div class="row">
                        <div class="col-md-3 col-12 text-md-right">
                            <h4 class="gray">개인 프로젝트</h4>
                        </div>
                        <div class="col-md-9 col-12">
                            <h4>Object detection album</h4>
                            <ul class="pt-3">
                                <li><a href="https://github.com/uiandwe/object-detection">소스 및 설명</a></li>
                                <li>yolov5를 이용한 이미지 검출 분류</li>
                                <li>python + django + yolov5를 사용하여 개발</li>
                                <li>여러 오픈된 모델에 대한 트레이닝 및 적용</li>
                                <li>ML에 대한 학습 및 API 제공</li>
                                <li>이미지 검출에 대한 실무 적용 가능한 사례 도출(적용 예정)</li>
                            </ul>
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-md-3 col-12 text-md-right">

                        </div>
                        <div class="col-md-9 col-12">
                            <h4>시계열 데이터 이상감지</h4>
                            <ul class="pt-3">
                                <li><a href="https://uiandwe.tistory.com/1319">소스 및 설명</a></li>
                                <li>기상데이터(시계열)의 일정한 패턴에서의 이상치를 감지</li>
                                <li>Isolation forest를 통한 과거 데이터 이상치 학습</li>
                                <li>LSTM을 통한 미래 데이터에 대한 결과값 예측</li>
                                <li>과거 3년치 학습데이터를 통한 이상치 발견 학습 모델 구축</li>
                                <li>API 서비스에 대한 결과값에 대한 valid로 활용중</li>
                            </ul>
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-md-3 col-12 text-md-right">

                        </div>
                        <div class="col-md-9 col-12">
                            <h4>SMI to dfxp</h4>
                            <ul class="pt-3">
                                <li><a href="https://github.com/uiandwe/dfxp">소스 및 설명</a></li>
                                <li>넷플릭스의 국내 진출(2017년)로 사이트 종료</li>
                                <li>자막파일 smi파일을 웹용 자막파일인 dfxp로 변환해 주는 사이트</li>
                                <li>smi파일 파싱을 통한 dfxp파일로 변환</li>
                                <li>다양한 한글 인코딩 제공 (UTF-8 / ISO-8859-2 / cp949)</li>
                            </ul>
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-md-3 col-12 text-md-right">

                        </div>
                        <div class="col-md-9 col-12">
                            <h4>문장의 긍정/부정 분석</h4>
                            <ul class="pt-3">
                                <li><a href="https://github.com/uiandwe/Naive-Bayes-classification">소스 및 설명</a></li>
                                <li>해당 문장이 긍정인지 부정인지를 조건부 확률로 판단</li>
                                <li>조건부 확률은 위의 그룹핑을 통한 해당 그룹(긍정/부정) 선택</li>
                                <li>konlpy로 한글 형태소 분석</li>
                                <li>네이버 사전을 통한 긍정 4000단어, 부정 3000단어 추출 및 분석</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Project End -->

    <!-- Education Start -->
    <div class="row pt-5">
        <div class="col">
            <div class="row pb-3">
                <div class="col">
                    <h2 class="blue">EDUCATION</h2>
                </div>
            </div>

            <div class="row">
                <div class="col">

                    <div class="row">
                        <div class="col-md-3 col-12 text-md-right">
                            <h4 class="gray">2004. 03 ~ 2010. 08</h4>
                        </div>
                        <div class="col-md-9 col-12">
                            <h4>군산대학교 졸업</h4>
                            <i class="gray">컴퓨터공학 전공</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Education End -->


    <!-- Toolbox Start -->
    <div class="row pl-5 pr-5 pt-5 pb-0">
        <!-- <div class="col-md-4 pt-3">
          <a href="./static/pdf/2018-yowu-resume.pdf" class="btn btn-info btn-block" role="button" aria-pressed="true">
            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
            &nbsp;PDF 다운받기
          </a>
        </div> -->
        <div class="col-md-6 pt-3">
            <a href="mailto:uiandwe@gmail.com" target="_blank" class="btn btn-secondary btn-block" role="button"
               aria-pressed="true">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                &nbsp;이메일로 찔러보기
            </a>
        </div>
        <div class="col-md-6 pt-3">
            <button onClick="alert('뇌내망상 코너는 준비 중입니다.')" class="btn btn-dark btn-block" role="button"
                    aria-pressed="true">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                &nbsp;뇌내망상 살펴보기
            </button>
        </div>
    </div>
    <!-- Toolbox End -->

    <!-- Footer Start -->
    <div class="row">
        <div class="col footer-cover">
            <div class="footer text-center">
                <small>CSS by <a href="https://getbootstrap.com/" target="_blank">Bootstrap 4</a>.</small> <br/>
                <small>Last Modified at 2019.05.18,
                    <a href="https://github.com/uiandwe/uiandwe.github.com" target="_blank">Update Note. </a>
                    <a href="https://github.com/uiandwe/uiandwe.github.com" target="_blank">
                        <i class="fa fa-github"></i> Github</a>
                </small>
            </div>
        </div>
    </div>
    <!-- Footer End -->
</div>
</body>
</html>
